@model IEnumerable<BlogProjectMVC.Models.Blog>
@inject BlogProjectMVC.Services.IImageService _imageService

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="container">
        <div class="row">
            <div class="col">
                @foreach(var blog in Model)
                 {
                    <div class="post-preview">
                        <a asp-controller="Posts" asp-action="PostsBlog" asp-route-id="@blog.Id">
                            <h2 class="post-title">@blog.Title</h2>
                            <h3 class="post-subtitle">@blog.Description</h3>
                        </a>
                        <p class="post-meta">
                            Posted by @blog.Author.FullName
                        </p>
                    </div>
                 }         
            </div>
        </div>
    </div>   
</div>

