@model BlogProjectMVC.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>
        Created: @Html.DisplayFor(model=>model.Created)
    <div>
        Last updated: @Html.DisplayFor(model=>model.Updated)
    </div>
    <hr />
    <div class="row">
        <div class="col h-100">
            <div class="text-center">
                @Html.DisplayFor(model => model.Content)
            </div>
            <div class="text-center py-5">
                @foreach(var tag in @Model.Tags)
                 {
                   <a class="btn btn-outline-dark border" asp-action="PostsTags" asp-route-tagTittle="@tag.Title">#@tag.Title.ToUpper()</a>
                 }
            </div>
            <div>
                Author: @Html.DisplayFor(model=>model.Author.FullName)

            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#Content').summernote({
            height: 700
        });
    });
</script>

@*<div>
        <h4>Post</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Abstract)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Abstract)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Updated)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Updated)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Slug)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Slug)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageData)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageData)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ImageType)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ImageType)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Blog)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Blog.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Author.Id)
            </dd>
        </dl>
    </div>*@

