@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<BlogProjectMVC.Models.Post>
@inject BlogProjectMVC.Services.IImageService _imageService

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="row gy-3 d-flex justify-content-center">

        @foreach (var post in Model)
        {
            <div class="col-md-3 col-sm-6 ">
                <div class="card h-100">
                    <img src="@_imageService.ConvertByteArrayToFile(post.ImageData, post.ImageType)" class="card-img-top" alt="Cover image">
                    <div class="card-body">
                        <hr />
                        <h5 class="card-title">@post.Title</h5>
                        <hr />
                        <p class="card-text fs-6 lead">@post.Abstract.</p>
                        <p class="card-text fs-6 lead">by @post.Author.FullName</p>
                        <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary btn-sm rounded">Read more</a>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col fs-6 lead">
                Page @(Model.PageCount<Model.PageNumber? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Html.PagedListPager(Model, page => Url.Action("PostsBlog", new { page = page, id = ViewData["BlogPostsId"]}),
               new PagedListRenderOptionsBase
               {
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }
               })
            </div>
        </div>


    </div>

    @*@section scripts{
                <script>
                    $(document).ready(function () {
                        $('#Content').summernote({
                        });
                    });
                </script>
        }*@
</div>
